/TugasPertemuan1/build/
/TugasPertemuan1/dist/
/TugasPertemuan2/nbproject/private/
/TugasPertemuan2/build/
/TugasPertemuan2/dist/
/CobaDatabase/nbproject/private/
/CobaDatabase/build/
/TugasPertemuan4/nbproject/private/
/TugasPertemuan4/build/
/TugasPertemuan4/dist/
/TugasUAS/nbproject/private/
/TugasUAS/build/
/TugasUTS/build/
/TugasPertemuan9/nbproject/private/
/TugasPertemuan9/build/
/TugasPertemuan9/dist/
/TugasPertemuan3/nbproject/private/
/TugasPertemuan3/build/
/TugasPertemuan6/nbproject/private/
/TugasPertemuan6/build/
/TugasPertemuan6/dist/
/TugasPertemuan5/nbproject/private/
/TugasPertemuan5/build/
/TugasPertemuan5/dist/
