/TugasPertemuan1/build/
/TugasPertemuan1/dist/
/TugasPertemuan2/nbproject/private/
/TugasPertemuan2/build/
/TugasPertemuan2/dist/
/CobaDatabase/nbproject/private/
/CobaDatabase/build/
/TugasPertemuan4/nbproject/private/
/TugasPertemuan4/build/
/TugasPertemuan4/dist/
/TugasUAS/nbproject/private/
/TugasUAS/build/
/TugasUTS/build/
/TugasPertemuan9/nbproject/private/
/TugasPertemuan9/build/
/TugasPertemuan9/dist/
